:root {
    scroll-behavior: smooth
}

* {
    box-sizing: border-box;
    
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all .2s linear;
}
a{
    text-decoration: none;
}

ul {
    padding: 0;
}

.allContent{
    background-color: #1E202B;
}
header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;

}

header nav {
    background-color: #1E202B;
    padding: 40px 0;
    
}

header nav .navContent {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav .navContent .logoItems {
    display: flex;
    align-items: center;
}

header nav .navContent .logoItems img {
    width: 64px;
    margin-right: 10px;
}

header nav .navContent .logoItems h1 {
    font-size: 1.1428571429em;
    font-weight: 500;
    
}
header nav .navContent .logoItems h1 a{
    color:#fff
}
header nav .navContent .logoItems small a{
    color: #bfc1c8;
    font-size: 0.9142857143em;
}

header nav .navContent .navItems {
    display: flex;
    justify-content: space-between;
}

header nav .navContent .navItems li {
    padding: 0 30px;
    margin-left: 10px;
}
header nav .navContent .navItems li.activeBorder{
    transition: .3s;
    cursor: pointer;
    border: 2px solid #009AD8;
    border-radius: 20px;
    text-align: center;
    color: #009AD8;
}
header nav .navContent ul li:hover {
    transition: .3s;
    cursor: pointer;
    border: 2px solid #009AD8;
    border-radius: 20px;
    text-align: center;
    color: #009AD8;

}

header nav .navContent i {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    padding: 10px;
    display: none
}

header nav .navContent i:hover {
    color: #009AD8;
    border-radius: 10px;
    border: #009AD8 solid 2px
}

/* =======================================--------body---------===================================== */
/* =======================================--------body---------===================================== */
/* =======================================--------body---------===================================== */
.body {
background:#1E202B;
padding-bottom: 100px;
}

.body .pageData {
    background:#262936;
    padding:18px 25px;
    border-radius: 30px;
    /* transform: translateY(30px); */
    margin-top: 20px;  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.body .pageData :nth-child(1){
    color:#BFC1C8
}
.body .pageData :nth-child(2){
    color:#696D7B
}
.body .pageData :nth-child(3){
    color:#fff
}



.body .contactData{
    width: 100%;
    background-color:#1E202B;
    margin-top: 70px;
    display: flex;
    justify-content: space-between
}
.body .contactData .mapData{
    background:#262936;
    color:#B1C1C8;
    width: 45%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
}
.body .contactData .mapData iframe{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
}
.body .contactData .mapData .addressData{
    padding:20px 10px 0px 10px;

}
.body .contactData .mapData .addressData i{
    color:#0FB3DD;
    font-size:1.4rem;
    margin-right: 5px;
}
.body .contactData .mapData .addressData div{
   
}
.body .contactData .mapData .addressData div p:nth-child(2){
    margin-right: 140px;
  
}


.body .contactData .detailsData{
    width: 45%;
}
.body .contactData .detailsData p{
    color:#B1C1C8;
    line-height:1.2
}
.body .contactData .detailsData .inputFields{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between
}
.body .contactData .detailsData .inputFields input{
    width: 48%;
    background:transparent;
    border:2px #393C48 solid;
    margin-top: 20px;
    padding:15px 20px;
    border-radius: 30px;
    outline: none;
    color:#fff
}
.body .contactData .detailsData .inputFields input:hover{
    border:2px #0FB3DD solid;
}
.body .contactData .detailsData .inputFields input:focus{
    border:2px #0FB3DD solid;
}
.body .contactData .detailsData .inputFields textarea{
    width: 100%;
    background:transparent;
    border:2px #393C48 solid;
    margin-top: 20px;
    padding:15px 20px;
    border-radius: 30px;
    outline: none;
    color:#fff
}
.body .contactData .detailsData .inputFields textarea:hover{
    border:2px #0FB3DD solid;
}
.body .contactData .detailsData .inputFields textarea:focus{
    border:2px #0FB3DD solid;
}

.body .contactData .detailsData .inputFields div{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}
.body .contactData .detailsData .inputFields button{
    background-color:#0FB3DD;
    border: 0;
    outline: none;
    border-radius: 20px;
    padding:8px 20px;
    color:#fff;

}
/* =======================================--------weather Statistics ---------===================================== */
/* =======================================--------weather Statistics---------===================================== */
/* =======================================--------weather Statistics---------===================================== */

/* =======================================--------footer ---------===================================== */
/* =======================================--------footer---------===================================== */
/* =======================================--------footer---------===================================== */
footer{
    background-color:#262936;
    padding:50px;
}
footer .upperPart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .upperPart .findLocation{
    position: relative;
    width: 60%;
    /* margin: auto; */
    /* transform: translateY(70px); */
}
footer .upperPart .findLocation input{
    background-color: #1E202B;
    border: none;
    outline: none;
    padding: 17px;
    border-radius: 40px;
    color: #fff;
    width: 100%;
}
footer .upperPart .findLocation button{
    background-color: #009AD8;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    position: absolute;
    top: 7px;
    right: 8px;
    color: #fff;
}
footer .upperPart .footerIcons{
    margin-right: 150px;
}
footer .upperPart .footerIcons i{
    color: #009AD8;
    width:30px;
    height: 30px;
    border-radius: 50%;
    background:#1E202B;
    padding: 8px 12px;
    font-size: 1.5rem;
    margin-left: 5px;
    cursor: pointer;
}
footer .upperPart .footerIcons i:hover{
    color:#fff;
    background:#009AD8;
}
footer .lowerPart p{
    color: #BFC1C8;

}


@media (max-width:1390px) {

}

@media (max-width:1200px) {

    header nav .navContent {
        padding: 0 0px;
    }
    footer .upperPart .footerIcons{
        margin-right: 0;
    }
}

@media (max-width:991px) {
    header nav .navContent .navItems {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: block;
        text-align: center;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        margin-bottom: 0px;
        background-color: #262936;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 7;
    }

    header nav .navContent .navItems.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header nav .navContent .navItems li:hover {
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 10px;
    }

    header nav .navContent .navItems li {
        color: #fff;
        padding: 20px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        cursor: pointer;
        border-radius: 10px;
    }
  

    header nav .navContent .navItems li:nth-child(1) {
        border-top: none;
    }
    header nav .navContent .navItems li.activeBorder{
        border: none;
        border-radius: 20px;
    }
    header nav .navContent i {
        display: block;
    }

    header nav .navContent {
        padding: 0 00px;
    }



    .body .contactData{
        flex-direction: column;
    }
    .body .contactData .mapData{
        width: 100%;
    }

    .body .contactData .mapData .addressData{
        padding:10px 10px 0px 10px
    }

    .body .contactData .mapData .addressData div p:nth-child(2){
        margin-right: 140px;
    }
    .body .contactData .detailsData{
        width: 100%;
    }
    .body .contactData .detailsData h1{
        margin-top: 20px;
    }
    .body .contactData .detailsData .inputFields input{
        width: 48%;
        background:transparent;
        border:2px #393C48 solid;
        margin-top: 20px;
        padding:15px 20px;
        border-radius: 30px;
        outline: none;
        color:#fff
    }
    .body .contactData .detailsData .inputFields input:hover{
        border:2px #0FB3DD solid;
    }
    .body .contactData .detailsData .inputFields input:focus{
        border:2px #0FB3DD solid;
    }
    .body .contactData .detailsData .inputFields textarea{
        width: 100%;
        background:transparent;
        border:2px #393C48 solid;
        margin-top: 20px;
        padding:15px 20px;
        border-radius: 30px;
        outline: none;
        color:#fff
    }
    .body .contactData .detailsData .inputFields textarea:hover{
        border:2px #0FB3DD solid;
    }
    .body .contactData .detailsData .inputFields textarea:focus{
        border:2px #0FB3DD solid;
    }

    
    footer .upperPart{
        flex-direction:column;
        align-items: start;
    }
    footer .upperPart .findLocation{
        width: 100%;
    }
    footer .upperPart .footerIcons{
        margin-right: 0px;
        margin-top: 30px;
    }

}

@media (max-width:776px) {
    header nav .navContent {
        padding: 0 00px;
    }
}

@media (max-width:576px) {
    header nav .navContent {
        padding: 0 00px;
    }

    /* .body .layer .findLocation button{
        left:315px;
    } */
}